*{
	margin:0;
	padding:0;
	box-sizing: content-box;
}

.fixtop{
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	position: fixed;
	width:100%;
	z-index: 100;
	background-color: white;
}
h1{
	background-color: #DCDCDC;
	padding:10px 0px;
	margin-top: 0;
}

textarea{
	width:95%;
	height: 100px;
	margin-bottom: 15px;
	display: block;
	padding:10px;
}
button{
	display: block;
}
button span{
	margin-right: 10px;
}
.tareas{
	padding-top:290px;
}
#item{
	background-color: #DCDCDC;
	padding:15px;
	position: relative;
	margin-bottom: 10px;
}
#item #descrip{
	
	display:inline-block;
	margin-left:10px;
}

#item  .icon-trash{
	font-size: 18px;
	height: 24px;
	width: 24px;
	padding:2px;
	border-radius: 100%;
	background-color: black;
	color:white;
	cursor:pointer;
	position:absolute;
	right:15px;

}

@media screen and (max-width: 768px){
	textarea{
		width: 92%;
	}
}